.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5;
    overflow: hidden;
  }

  .register-contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px rgb(237, 237, 237);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .register-input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .register-button {
    padding: 10px;
    width: 100%;
    max-width: 180px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  .register-button:hover {
    background-color: #45a049;
  }
  
  p {
    margin-top: 10px;
  }
  
  a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  

  @media (max-width: 1080px){

    .register-contain{
        height: 50vh;
        width: 50%;
    }
  }

  @media (max-width: 900px){

    .register-contain{
        height: 40vh;
        width: 60%;
    }
  }

  @media (max-width: 700px){

    .register-contain{
        width: 65%;
    }
    .register-input{
        max-width: 250px;
    }
  }

  @media (max-width: 500px){

    .register-contain{
        width: 75%;
    }
    .register-input{
        max-width: 250px;
    }

    .register-button{
        max-width: 150px;
    }
  }

  @media (max-width: 400px){

    .register-contain{
        width: 80%;
    }
    .register-input{
        max-width: 220px;
    }

    .register-button{
        max-width: 140px;
    }
  }


  @media (max-width: 340px){

    .register-contain{
        width: 80%;
    }
    .register-input{
        max-width: 200px;
    }

    .register-button{
        max-width: 120px;
    }
  }

  @media (max-width: 310px){

    .register-contain{
        width: 80%;
    }
    .register-input{
        max-width: 180px;
    }

    .register-button{
        max-width: 110px;
    }
  }

  @media (max-width: 280px){

    .register-contain{
        width: 80%;
    }
    .register-input{
        max-width: 160px;
    }

    .register-button{
        max-width: 100px;
    }
  }